<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>权限管理-权限列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="../layui/css/layui.css" media="all" />
    <script src="../config/config.js"></script>
    <link rel="stylesheet" href="../layui/layui.all.js" media="all" />
    <link rel="stylesheet" href="../js/jquery-3.4.1.js" media="all" />
    <link rel="stylesheet" href="../layui_ext/dtree/dtree.css" media="all" />
    <link rel="stylesheet" href="../layui_ext/dtree/font/dtreefont.css" media="all" />
    <style type="text/css">
        .select-test{position: absolute;max-height: 500px;height: 350px;overflow: auto;width: 100%;z-index: 123;display: none;border:1px solid silver;top: 42px;}
        .layui-show{display: block!important;}
    </style>
</head>

<body  class="childrenBody">
<!-- 查询条件开始 -->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>查询条件</legend>
</fieldset>
<form action="" id="searchFrm" method="post" lay-filter="searchFrm">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">权限名称:</label>
            <div class="layui-input-inline">
                <input type="text" name="name" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">权限编码:</label>
            <div class="layui-input-inline">
                <input type="text" name="authCode" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button type="button" class="layui-btn" id="doSearch" >查询</button>
            <button type="reset" class="layui-btn layui-btn-primary">清空</button>
        </div>
    </div>
</form>
<!-- 查询条件结束 -->
<!-- 数据表格开始 -->
<table class="layui-hide" lay-filter="authTable" id="authTable"></table>
<div class="layui-hide" id="authToolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addAuth">添加权限</button>
    </div>
</div>
<div class="layui-hide" id="authBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs"  lay-event="del">删除</a>
</div>

<!-- 添加和修改弹出层 -->
<div style="display: none;padding: 10px" id="addOrUpdateView">
    <form class="layui-form" action="" method="post" id="dataFrm" lay-filter="dataFrm" >
        <div class="layui-form-item">
            <input type="hidden" name="authId">
            <label class="layui-form-label">权限名称</label>
            <div class="layui-input-block">
                <input type="text" name="authName"  autocomplete="off" placeholder="请输入权限名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <input type="hidden" name="authId">
            <label class="layui-form-label">权限编码</label>
            <div class="layui-input-block">
                <input type="text" name="authCode"  autocomplete="off" placeholder="请输入权限编码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="doSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<!-- 分配权限的弹出层开始 -->
<div style="display: none; padding: 10px" id="selectPermissionView">
    <div class="dtree" id="permissionTree"  data-id="0"></div>
</div>
<!-- 分配权限的弹出层结束-->

<!-- 数据表格结束 -->
<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../layui_ext/dist/dtree.js"></script>

<script type="text/javascript">
    var tableIns;//提升作用域
    layui.config({
        base : "../layui_ext/dist/"
    }).extend({
        "dtree" : "dtree"
    })
    layui.use(["form","table","jquery","layer","dtree"],function() {
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;
        var dtree = layui.dtree;
        tableIns = table.render({
            elem: '#authTable'
            , url: dev + 'ScientificUser/loadAllAuth'
            , toolbar: '#authToolbar'
            , page: true
            , height: 'full-130'
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                {field: 'authId', title: 'ID', align: 'center'}
                , {field: 'authName', title: '权限名称', align: 'center'}
                , {field: 'createName', title: '创建人', align: 'center'}
                , {field: 'authCode', title: '权限编号', align: 'center'}
                , {field: 'createTime', title: '创建时间', align: 'center'}
                , {fixed: 'right', title: '操作', align: 'center', toolbar: '#authBar', width: 300}
            ]]
            , done: function (res, curr) {
                var brforeCurr = curr; // 获得当前页码
                var dataLength = res.data.length; // 获得当前页的记录数
                var count = res.count; // 获得总记录数
                if (dataLength == 0 && count != 0) { //如果当前页的记录数为0并且总记录数不为0
                    table.reload("authTable", { // 刷新表格到上一页
                        page: {
                            curr: brforeCurr - 1
                        }
                    });
                }
            }
        });
        //模糊查询
        $("#doSearch").click(function () {
            var params = $("#searchFrm").serialize();
            tableIns.reload({
                url: dev + 'ScientificUser/loadAllAuth?' + params
            })
        });
        //监听头工具行的事件
        table.on('toolbar(authTable)', function (obj) {
            switch (obj.event) {
                case 'addAuth':
                    openAddAuthView();
                    break;
            }
            ;
        });
        //监听行工具行的事件
        table.on('tool(authTable)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event;
            if (layEvent === 'del') { //删除
                deleteAuthById(data);
            } else if (layEvent === 'edit') { //编辑
                openUpdateAuthView(data);
            } else if (layEvent === 'selectPermission') {//分配权限
                openSelectPermission(data);
            }
        });
        var mainIndex;
        var url;

        function openAddAuthView() {
            mainIndex = layer.open({
                type: 1,
                title: '添加权限',
                content: $("#addOrUpdateView"),
                area: ['800px', '400px'],
                skin: 'layui-layer-molv',
                maxmin: true,
                success: function (layero, index) {
                    //清空表单
                    $("#dataFrm")[0].reset();
                    //移除下拉列表展开的样式
                    $("#accordionPid").removeClass("layui-show layui-anim layui-anim-upbit");
                    url = dev + "ScientificUser/addAuth";
                }
            })
        };
        //提交事件
        form.on('submit(doSubmit)', function (data) {
            var params = $("#dataFrm").serialize();
            $.post(url, params, function (obj) {
                layer.msg(obj.msg);
                //关闭弹出层
                layer.close(mainIndex);
                //刷新数据表格
                tableIns.reload();
            })
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //打开修改的弹出层
        function openUpdateAuthView(data) {
            mainIndex = layer.open({
                type: 1,
                title: '修改权限',
                content: $("#addOrUpdateView"),
                area: ['800px', '400px'],
                skin: 'layui-layer-molv',
                maxmin: true,
                success: function (layero, index) {
                    form.val("dataFrm", data);
                    url = dev + "ScientificUser/updateAuth";
                }
            });
        };

        //删除权限
        function deleteAuthById(data) {
            layer.confirm('真的要删除【' + data.authName + '】这个权限么？', function (index) {
                //向服务端发送删除指令
                $.post(dev + "ScientificUser/deleteAuth", {id: data.authId}, function (reslult) {
                    layer.msg(reslult.msg);
                    layer.close(index);
                    //刷新数据表格
                    tableIns.reload();
                })
            });
        }
    });
    //刷新的方法
    function reloadTable(id){
        tableIns.reload({
            url:dev+'ScientificUser/loadAllAuth?id='+id,
            page:{
                curr:1
            }
        })
    }
</script>
</body>
</html>