<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
    <script src="../layui/layui.all.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="../config/config.js"></script>
</head>
<body class="global-body-mp">
<div class="layui-tab-item layui-show" style="margin-top: 80px">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-xs12">
<!--                            <div class="layui-inline"  style="margin-top: 5px;" >-->
<!--                                <label class="layui-form-label" style="width: 50px">统计维度：</label>-->
<!--                                <div  class="layui-input-block" style="width: 200px">-->
<!--                                    <select id="time" >-->
<!--                                        <option value=""></option>-->
<!--                                        <option value="0">年</option>-->
<!--                                        <option value="1">月</option>-->
<!--                                        <option value="2">日</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="layui-inline" style="margin-top: 5px;" >
                                <label class="layui-form-label">用户:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="userName"  lay-filter="userName" placeholder="请输入" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline" style="margin-top: 5px;" >
                                <label class="layui-form-label">部门:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="depName"  lay-filter="depName" placeholder="请输入部门" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-left: 600px">
                            <div class="layui-inline">
                                <button class="layui-btn layui-btn-normal" id="find">查询</button>
                            </div>
                            <!--<div class="layui-inline">
                                <button class="layui-btn" id="reset">重置</button>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="toolbarDemo">
    </script>
<div id="info"></div>
</body>
</html>
<script>

    $("#find").click(function () {
        console.log(123)
        find();
    })

    function find(){
        var time = $('#time').val();
        var depName = $('#depName').val();
        var userName = $('#userName').val();
        layui.table.reload('info',{
            where: {
                dimension:time,
                depName:depName,
                userName:userName
            }});
    }
    layui.use('form', function() {
        var form = layui.form;
        $.ajax({
            type: "POST",
            url: dev+"user/loadAllUser",
            async:false,
            data: {
            },
            success: function(res) {
                var data = res.data;
                $.each(data,function(index,item){
                    $("#dep")
                        .append(
                            "<option value='" + item.depId+"'>"
                            + item.depName + "</option>");
                })
                //form.render(null, 'merchant');
                form.render();
            }
        })
    })

    function reload(){
        layui.table.reload('info',{
            where: {

            }});
    }


    layui.use('table', function(){
        var tableWidth = $("#info").width() - 28;
        var table = layui.table;
        table.render({
            id:'info',
            elem: '#info'
            ,url:dev + 'scientific/getScientificDetail'
            ,toolbar: '#toolbarDemo'
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,request: {
                pageName: 'currentPage'
                ,limitName: 'pageSize'
            },
            where:{
                dimension: 0
            },
            response: {
                statusName: 'code'
                ,statusCode: 0
                ,msgName: 'msg'
                ,countName: 'count'
                ,dataName: 'data'
            }
            ,cols: [[
                {field:'userName', width: tableWidth*0.1, title: '用户名', }
                ,{field:'depName', width:tableWidth*0.15, title: '部门'}
                ,{field:'standardScore', width:tableWidth*0.15, title: '基准分'}
                ,{field:'titleName', width:tableWidth*0.15, title: '职称'}
                ,{field:'score', width:tableWidth*0.1, title: '积分',}
                // ,{field:'statistic', width:tableWidth*0.1, title: '时间维度'}
                ,{field:'isPass', width:tableWidth*0.15, title: '是否通过'}
            ]]
            ,page: true
        });
    });

    layui.use('form', function() {
        var form = layui.form;
        form.render();
    })
</script>