<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="./layui/css/layui.css">
    <script src="./layui/layui.js"></script>
    <script src="./layui/layui.all.js"></script>
    <script src="./js/jquery-3.4.1.js"></script>
    <script src="./config/config.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" id="name">
                    贤心
                </a>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" id="loginOut">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a href="./performanceMsg/performance.html" target="contentFrame">科研绩效</a></li>
                <li class="layui-nav-item"><a href="./scientificMsg/scientific.html" target="contentFrame">科研项目</a></li>
                <li class="layui-nav-item"><a href="" target="contentFrame">科研信息</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">系统设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">权限管理</a></dd>
                        <dd><a href="javascript:;">角色管理</a></dd>
                        <dd><a href="./userMsg/userMannage.html" target="contentFrame">人员管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="width:100%;height:100%;">
            <iframe src="javascript:;" id="contentFrame" name="contentFrame" style="width: 100%; height: 100%;" frameborder="0"></iframe>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script>

    $(function () {
        $("#name").text(sessionStorage.getItem("userName"));
    })
    layui.use('element', function() {
        var element = layui.element;
    })
    $("#loginOut").click(function () {
        debugger;
        console.log(12312)
        $.ajax({
            type: "GET",
            url: dev+"ScientificUser/loginOut",
            async:false,
            data: {
            },
            success: function(res){
                if (res.code==0){
                    layer.msg(res.msg)
                    console.log(res)
                    // $.cookie('userName',res.data.userName);
                    sessionStorage.removeItem("userName")
                    sessionStorage.removeItem("userId");
                    window.location.href="index.html"
                }else {
                    layer.msg(res.msg)
                }
            }
        })
    })


</script>
</body>
</html>