<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="../config/config.js"></script>
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item" >
        <label class="layui-form-label" >项目类别:</label>
        <div  class="layui-input-block" style="width: 300px">
            <select  lay-filter="type" id="proType" required>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">计算条件:</label>
        <div  class="layui-input-block" style="width: 300px">
            <select id="proCondition" required>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">计算标准:</label>
        <div class="layui-input-inline">
            <input type="text" id="proScore" required  placeholder="计算标准" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">项目开始时间:</label>
        <div class="layui-input-inline">
            <input type="text" id="proTimeStart" required     autocomplete="off"  placeholder="请输入项目开始时间" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">项目结束时间:</label>
        <div class="layui-input-inline">
            <input type="text" id="proTimeEnd" required     autocomplete="off"  placeholder="请输入项目结束时间" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">计算标准:</label>
        <div class="layui-input-inline">
            <input type="text" id="proScore" required  placeholder="计算标准" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" >
        <button id="confirm"  type="button"  style="margin-left:100px;padding-left: 80px;padding-right: 80px" class="layui-btn">确认</button>
    </div>
</form>
</body>
</html>
<script>

    $(function () {

    })
    layui.use('form', function () {
        debugger
        var form = layui.form;
        $.ajax({
            type: "get",
            url: dev + "scientific/getType",
            async: false,
            data: {},
            success: function (res) {
                var data = res.data;
                console.log(data)
                $.each(data, function (index, item) {
                    $("#proType")
                        .append(
                            "<option value='" + item.projectTypeId + "'>"
                            + item.projectTypeName + "</option>");
                })
                //form.render(null, 'merchant');
                form.render();
            }
        })
    })
    $("#people").click(function () {
        layui.use('layer',function () {
            layer.open({
                type: 2,
                title: '项目人员',
                shadeClose: true,
                shade: false,
                maxmin: false, //开启最大化最小化按钮
                area: ['100%','100%'],
                anim: 2,
                content: 'addProPeople.html'
            });
            form.on('select(from)', function(data){
                console.log(data.value); //得到被选中的值
            });
        })
    })



    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#proTimeStart'
            ,calendar: true
            ,showBottom: false
        });
    });

    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#proTimeEnd'
            ,calendar: true
            ,showBottom: false
        });
    });


    $('#confirm').click(function () {
        var proType = $("#proType").val();
        var proCondition = $("#proCondition").val();
       // var proScore = $("#proScore").val();
        var proTimeStart = $("#proTimeStart").val();
        var proTimeEnd = $("#proTimeEnd").val();
        var proPeopleList = '';
        $.ajax({
            type: "POST",
            url: dev+"scientific/addPro",
            async:false,
            data: {
                projectTypeId:proType,
                calculateId:proCondition,
                startTime:proTimeStart,
                endTime:proTimeEnd,
            },
            success: function(res) {
                if (res.code==0){
                    layer.msg(res.msg)
                }else {
                    layer.msg(res.msg)
                }
            }
        })
    })


</script>