<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="../config/config.js"></script>
</head>
<body>
<textarea id="demo" style="display: none;"></textarea>
<div style="margin-left: 500px;margin-top: 20px" class="layui-inline">
    <button class="layui-btn" id="add" >确定上报</button>
</div>
</body>
</html>
<script>
    layui.use('layedit', function(){

        var layedit = layui.layedit;
        layedit.set({
            uploadImage: {
                url: dev+'scientific/uploadFile' //接口url
                ,type:'post'
            }
        });
       var index = layedit.build('demo', {
            height: 500//设置编辑器高度
        });//建立编辑器

        $("#add").click(function () {
            var proPeopleId = parent.proPeopleId;
            var  userId = parent.userId;
            var proId = parent.proId;
            var content =  layedit.getContent(index);
            var json = {};
            json.proPeopleId = proPeopleId;
            json.userId = userId;
            json.proId = proId;
            json.materials = content;
            console.log(JSON.stringify(json));
            $.ajax({
                type: "POST",
                url: dev + "scientific/insetMaterials",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(json),
                success: function (res) {
                    var data = res.data;
                    var index=parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    parent.layer.msg(res.msg);
                    parent.reload();
                }
            })
        })
    });
</script>