<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
    <script src="../layui/layui.all.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="../config/config.js"></script>
</head>
<body class="global-body-mp">
<div class="layui-tab-item layui-show" style="margin-top: 80px">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-form">

            </div>
        </div>
    </div>
</div>
<div id="info" lay-filter="demo"></div>
</body>
</html>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>

    $("#find").click(function () {
        find();
    })

    function find(){
        var time = $('#time').val();
        var depName = $('#depName').val();
        layui.table.reload('info',{
            where: {
                dimension:time,
                depName:depName
            }});
    }


    function reload(){
        layui.table.reload('info',{
            where: {

            }});
    }


    layui.use('table', function(){
        var tableWidth = $("#info").width() - 28;
        var table = layui.table;
        table.render({
            id:'info',
            elem: '#info'
            ,url:dev + 'scientificUser/getAllUser'
            ,request: {
                pageName: 'currentPage'
                ,limitName: 'pageSize'
            },
            where:{
                dimension: 0
            },
            response: {
                statusName: 'code'
                ,statusCode: 0
                ,msgName: 'msg'
                ,countName: 'count'
                ,dataName: 'data'
            }
            ,cols: [[
                {field:'userName', width: tableWidth*0.1, title: '用户名', }
                ,{field:'depName', width:tableWidth*0.15, title: '部门'},
                {fixed: 'userId', width:tableWidth*0.15, toolbar: '#barDemo'}
            ]]
            ,page: true
        });
        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.alert('编辑行：<br>'+ JSON.stringify(data))
            }
        });
    });


    layui.use('form', function() {
        var form = layui.form;
        form.render();
    })
</script>