<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="../config/config.js"></script>
</head>
<body>
<div class="layui-input-inline">
    <input type="text" id="rank"  autocomplete="off" placeholder="请输入排名" class="layui-input">
</div>
<div class="layui-inline">
    <button class="layui-btn layui-btn-normal" id="submit">确定</button>
</div>
</body>
</html>
<script>
    $('#submit').click(function () {
        var rank = $("#rank").val();
        $.ajax({
            type: "get",
            url: dev+"scientific/editRank",
            async:false,
            data:{
                rank:rank,
                proId:parent.proId,
                userId:parent.userId
            },
            success: function(res) {
                if (res.code==0){
                    //layer.msg(res.msg)
                    var index=parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    parent.layer.msg(res.msg);
                    parent.reload();
                }else {
                    layer.msg(res.msg)
                }
            }
        })
    })
</script>
