<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="../config/config.js"></script>
</head>
<body>
<div id="info" lay-filter="demo"></div>
</body>
</html>
<script type="text/html" id="barDemo">
    {{#  if(d.userFlag == 1 && d.proStatus == 1){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="submit">提交材料</a>
    {{#  } }}
    {{#  if(d.flag == 1 && d.proStatus == 1){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{#  } }}
    {{#  if(d.seeFlag == 1 && d.proStatus == 1){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="see">查看提交材料</a>
    {{#  } }}
    {{#  if(d.auditFlag == 1 && d.proStatus == 1){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="audit">审核</a>
    {{#  } }}
    {{#  if(d.flag == 1 && d.proStatus == 1){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="ran">排名修改</a>
    {{#  } }}
</script>
<script type="text/html" id="status">
    {{#  if(d.materialsStatus == 1){ }}
    审核通过
    {{#  } else if(d.materialsStatus == 2){ }}
    审核不通过
    {{#  } else if(d.materialsStatus == 3){ }}
    进行中
    {{#  } else if(d.materialsStatus == 4){ }}
    审核中
    {{#  } }}
</script>
<script>
    var proPeopleId;
    var userId;
    var proId;
    layui.use('table', function(){
        var tableWidth = $("#info").width() - 28;
        var table = layui.table;
        var pro = parent.proId;
        table.render({
            id:'info',
            elem: '#info'
            ,url: dev + 'scientific/getCurrentProPeople'
            ,request: {
                pageName: 'current'
                ,limitName: 'size'
            },
            where:{
                proId:pro
            },
            response: {
                statusName: 'code'
                ,statusCode: 0
                ,msgName: 'msg'
                ,countName: 'count'
                ,dataName: 'data'
            }
            ,cols: [[
                {field:'userName', width: tableWidth*0.22, title: '负责人', }
                ,{field:'materialsStatus', width:tableWidth*0.25, title: '上报状态',toolbar:'#status'}
                ,{field:'rank', width:tableWidth*0.22, title: '项目排名'}
                ,{field:'rank', width:tableWidth*0.22, title: '操作',toolbar:'#barDemo'}
            ]]
            ,page: true
        });
        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if (obj.event === 'submit'){
                proId = data.proId;
                userId = data.userId;
                proPeopleId = data.proPeopleId
                layui.use('layer',function () {
                    layer.open({
                        type: 2,
                        title: '提交材料',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['1000px', '650px'],
                        content: 'addProMaterials.html'
                    });
                })
            }else if (obj.event === 'del'){
                layer.confirm('确定删除该负责人吗?', function(index) {
                    layer.close(index);
                    $.ajax({
                        type: "get",
                        url: dev + "scientific/delProPeople",
                        async: false,
                        data: {
                            proPeopleId: data.proPeopleId
                        },
                        success: function (res) {
                            layer.msg(res.msg);
                            reload();
                        }
                    })
                })
            }else if (obj.event === 'see'){
                proId = data.proId;
                userId = data.userId;
                layui.use('layer',function () {
                    layer.open({
                        type: 2,
                        title: '查看材料',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['1000px', '650px'],
                        content: 'findMaterials.html'
                    });
                })
            }else if (obj.event === 'ran'){
                proId = data.proId;
                userId = data.userId;
                layui.use('layer',function () {
                    layer.open({
                        type: 2,
                        title: '修改排名',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['300px', '100px'],
                        content: 'editRank.html'
                    });
                })
            }else if(obj.event === 'audit'){
                layer.open({
                    btn: ['通过', '不通过']
                    ,yes: function(index, layero){
                        $.ajax({
                            type: "get",
                            url: dev + "scientific/audit",
                            async: false,
                            data: {
                                id: data.proPeopleId,
                                bank: 1
                            },
                            success: function (res) {
                                layer.msg(res.msg);
                                reload();
                            }
                        })
                    },btn2: function(index, layero){
                        $.ajax({
                            type: "get",
                            url: dev + "scientific/audit",
                            async: false,
                            data: {
                                id: data.proPeopleId,
                                bank: 2
                            },
                            success: function (res) {
                                layer.msg(res.msg);
                                reload();
                            }
                        })
                    }
                });
            }
        });
    });

    function reload(){
        layui.table.reload('info',{
            where: {

            }});
    }
</script>