<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.scientific.mapper.ScientificExtendMapper">

    <select id="getStatistics" resultType="com.ts.scientific.dto.StatisticsDetailDto" parameterType="com.ts.scientific.vo.StatisticsDetailVO">
        SELECT department.dep_name as 'depName' , u.user_name as 'userName', u.standard_score as 'standardScore',
        title.title_name as 'titleName',
<!--        <if test="dimension == 0">-->
<!--            DATE_FORMAT(s.create_time,'%Y') as statistic,-->
<!--        </if>-->
<!--        <if test="dimension == 1">-->
<!--            DATE_FORMAT(s.create_time,'%Y-%m') as statistic,-->
<!--        </if>-->
<!--        <if test="dimension == 2">-->
<!--            DATE_FORMAT(s.create_time,'%Y-%m-%d') as statistic,-->
<!--        </if>-->
        sum(s.score) as score,
        u.user_id as 'userId'
        FROM user as u,statistics_detail as s , department,title where  u.user_id = s.user_id
        and
        department.id = u.dep_id
        and
        title.id = u.title_id
        <if test="depName != null and depName != ''">
            AND    department.dep_name = #{depName}
        </if>
        <if test="userName != null and userName != ''">
            AND    u.user_name = #{userName}
        </if>
        <if test="userId != null and userId != ''">
            AND    u.user_id = #{userId}
        </if>
        GROUP BY department.dep_name,u.user_name,u.standard_score,title.title_name, u.user_id
        <!--        <if test="dimension == 0">-->
<!--            GROUP BY DATE_FORMAT(s.create_time,'%Y') ,department.dep_name,u.user_name,u.standard_score-->
<!--        </if>-->
<!--        <if test="dimension == 1">-->
<!--            GROUP BY DATE_FORMAT(s.create_time,'%Y-%m'),department.dep_name,u.user_name,u.standard_score-->
<!--        </if>-->
<!--        <if test="dimension == 2">-->
<!--            GROUP BY DATE_FORMAT(s.create_time,'%Y-%m-%d'),department.dep_name,u.user_name,u.standard_score-->
<!--        </if>-->
        ORDER BY s.score DESC
        <if test="currentPage != null and currentPage !='' or
                        pageSize != null and pageSize !=''">
            LIMIT #{pageSize} OFFSET #{currentPage}
        </if>
    </select>

    <select id="getDeptStatistics" resultType="com.ts.scientific.dto.DeptStatisticsDto" parameterType="java.util.Map">
        SELECT u.user_name as 'userName',title.title_name AS 'title',u.standard_score AS 'standardScore',
        sum(s.score) as score,
        u.user_id as 'userId'
        FROM user as u,statistics_detail as s , department ,title where  u.user_id = s.user_id
        and
        department.id = u.dep_id
        <if test="depId != null and depId != ''">
            AND    department.id = #{depId}
        </if>
        GROUP BY department.dep_name,u.user_name
        ORDER BY s.score DESC
        <if test="currentPage != null and currentPage !='' or
                        pageSize != null and pageSize !=''">
            LIMIT #{pageSize} OFFSET #{currentPage}
        </if>
    </select>

    <select id="queryAllScientificInfo" resultType="com.ts.scientific.dto.ScientificInfoDto" parameterType="com.ts.scientific.vo.ScientificInfoVo">
        SELECT
        *
        FROM scientific_info
        where del_flag = 0
        <if test="projectTypeName != null and projectTypeName != ''">
            AND    project_type_name = #{projectTypeName}
        </if>
        <if test="rule != null and rule != ''">
            AND    rule LIKE concat("%",#{rule},"%")
        </if>
        ORDER BY project_type_id DESC
        LIMIT #{page},#{limit}
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="com.ts.scientific.vo.ScientificInfoVo">
        SELECT count(project_type_id)
        FROM scientific_info
        where del_flag = 0
        <if test="projectTypeName != null and projectTypeName != ''">
            AND    project_type_name = #{projectTypeName}
        </if>
        <if test="rule != null and rule != ''">
            AND    rule LIKE concat("%",#{rule},"%")
        </if>
    </select>


</mapper>
