<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.scientific.mapper.ScientificExtendMapper">

    <select id="getStatistics" resultType="com.ts.scientific.dto.StatisticsDetailDto" parameterType="com.ts.scientific.vo.StatisticsDetailVO">
        SELECT u.dep_name as 'depName' , u.user_name as 'userName',
        <if test="dimension == 0">
            DATE_FORMAT(s.create_time,'%Y') as statistic,
        </if>
        <if test="dimension == 1">
            DATE_FORMAT(s.create_time,'%Y-%m') as statistic,
        </if>
        <if test="dimension == 2">
            DATE_FORMAT(s.create_time,'%Y-%m-%d') as statistic,
        </if>
        sum(s.score) as score
        FROM user as u,statistics_detail as s where  u.user_id = s.user_id
        <if test="depName != null and depName != ''">
            AND    u.dep_name = #{depName}
        </if>
        <if test="userName != null and userName != ''">
            AND    u.user_name = #{userName}
        </if>
        <if test="dimension == 0">
            GROUP BY statistic ,u.dep_name,u.user_name
        </if>
        <if test="dimension == 1">
            GROUP BY DATE_FORMAT(s.create_time,'%Y-%m')
        </if>
        <if test="dimension == 2">
            GROUP BY DATE_FORMAT(s.create_time,'%Y-%m-%d')
        </if>
        ORDER BY s.score DESC
        <if test="currentPage != null and currentPage !='' or
                        pageSize != null and pageSize !=''">
            LIMIT #{pageSize} OFFSET #{currentPage}
        </if>
    </select>


    <select id="queryAllScientificInfo" resultType="com.ts.scientific.dto.ScientificInfoDto" parameterType="com.ts.scientific.vo.ScientificInfoVo">
        SELECT u.dep_name as 'depName' , u.user_name as 'userName',
        a.*,
        b.calculate_score AS calculateScore,
        b.calculate_condition AS calculateCondition
        FROM scientific_info as a JOIN scientific_info_conf b ON a.project_type_id = b.project_type_id
        <if test="projectTypeName != null and projectTypeName != ''">
            AND    a.project_type_name = #{projectTypeName}
        </if>
        <if test="rule != null and rule != ''">
            AND    a.rule LIKE concat("%",#{rule},"%")
        </if>
        ORDER BY a.project_type_id DESC

        LIMIT page,limit
    </select>

    <select id="count"  parameterType="com.ts.scientific.vo.ScientificInfoVo">
        SELECT count(project_type_id)
        FROM scientific_info as a JOIN scientific_info_conf b ON a.project_type_id = b.project_type_id
        <if test="projectTypeName != null and projectTypeName != ''">
            AND    a.project_type_name = #{projectTypeName}
        </if>
        <if test="rule != null and rule != ''">
            AND    a.rule LIKE concat("%",#{rule},"%")
        </if>
    </select>


</mapper>
